In [1]:
import pandas as pd

In [2]:
file1 = 'edu_2015.csv' # 88 county
file2 = 'data.csv'     # 50 county

In [3]:
df1 = pd.read_csv(file1)

In [4]:
df1.head(5)

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_001M,S1501_C01_002E,S1501_C01_002M,S1501_C01_003E,S1501_C01_003M,S1501_C01_004E,S1501_C01_004M,...,S1501_C06_060E,S1501_C06_060M,S1501_C06_061E,S1501_C06_061M,S1501_C06_062E,S1501_C06_062M,S1501_C06_063E,S1501_C06_063M,S1501_C06_064E,S1501_C06_064M
0,id,Geographic Area Name,Total!!Estimate!!Population 18 to 24 years,Total!!Margin of Error!!Population 18 to 24 years,Total!!Estimate!!Population 18 to 24 years!!Le...,Total!!Margin of Error!!Population 18 to 24 ye...,Total!!Estimate!!Population 18 to 24 years!!Hi...,Total!!Margin of Error!!Population 18 to 24 ye...,Total!!Estimate!!Population 18 to 24 years!!So...,Total!!Margin of Error!!Population 18 to 24 ye...,...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...
1,0500000US39001,"Adams County, Ohio",2157,60,356,110,1019,153,707,132,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
2,0500000US39003,"Allen County, Ohio",11124,137,1859,319,3596,474,4932,527,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3,0500000US39005,"Ashland County, Ohio",5731,91,784,156,1801,279,2843,268,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,0500000US39007,"Ashtabula County, Ohio",7997,133,2029,315,3347,357,2425,271,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [5]:
new_df = df1.copy()
new_df.head()

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_001M,S1501_C01_002E,S1501_C01_002M,S1501_C01_003E,S1501_C01_003M,S1501_C01_004E,S1501_C01_004M,...,S1501_C06_060E,S1501_C06_060M,S1501_C06_061E,S1501_C06_061M,S1501_C06_062E,S1501_C06_062M,S1501_C06_063E,S1501_C06_063M,S1501_C06_064E,S1501_C06_064M
0,id,Geographic Area Name,Total!!Estimate!!Population 18 to 24 years,Total!!Margin of Error!!Population 18 to 24 years,Total!!Estimate!!Population 18 to 24 years!!Le...,Total!!Margin of Error!!Population 18 to 24 ye...,Total!!Estimate!!Population 18 to 24 years!!Hi...,Total!!Margin of Error!!Population 18 to 24 ye...,Total!!Estimate!!Population 18 to 24 years!!So...,Total!!Margin of Error!!Population 18 to 24 ye...,...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...
1,0500000US39001,"Adams County, Ohio",2157,60,356,110,1019,153,707,132,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
2,0500000US39003,"Allen County, Ohio",11124,137,1859,319,3596,474,4932,527,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3,0500000US39005,"Ashland County, Ohio",5731,91,784,156,1801,279,2843,268,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,0500000US39007,"Ashtabula County, Ohio",7997,133,2029,315,3347,357,2425,271,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [6]:
def delete_ohio(x):
    if x[-4:] == 'Ohio':
        return x[:-6]
    return x

In [7]:
new_df['NAME'] = new_df['NAME'].apply(delete_ohio)

In [8]:
new_df

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_001M,S1501_C01_002E,S1501_C01_002M,S1501_C01_003E,S1501_C01_003M,S1501_C01_004E,S1501_C01_004M,...,S1501_C06_060E,S1501_C06_060M,S1501_C06_061E,S1501_C06_061M,S1501_C06_062E,S1501_C06_062M,S1501_C06_063E,S1501_C06_063M,S1501_C06_064E,S1501_C06_064M
0,id,Geographic Area Name,Total!!Estimate!!Population 18 to 24 years,Total!!Margin of Error!!Population 18 to 24 years,Total!!Estimate!!Population 18 to 24 years!!Le...,Total!!Margin of Error!!Population 18 to 24 ye...,Total!!Estimate!!Population 18 to 24 years!!Hi...,Total!!Margin of Error!!Population 18 to 24 ye...,Total!!Estimate!!Population 18 to 24 years!!So...,Total!!Margin of Error!!Population 18 to 24 ye...,...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...
1,0500000US39001,Adams County,2157,60,356,110,1019,153,707,132,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
2,0500000US39003,Allen County,11124,137,1859,319,3596,474,4932,527,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3,0500000US39005,Ashland County,5731,91,784,156,1801,279,2843,268,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,0500000US39007,Ashtabula County,7997,133,2029,315,3347,357,2425,271,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,0500000US39167,Washington County,5637,102,660,138,2257,283,2280,275,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
85,0500000US39169,Wayne County,11631,137,2060,257,3757,332,5212,340,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
86,0500000US39171,Williams County,2937,87,447,89,1354,138,954,156,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
87,0500000US39173,Wood County,22867,179,1250,230,3794,412,15378,561,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
88,0500000US39175,Wyandot County,1697,36,378,127,555,125,586,137,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [9]:
def delete_OH(x):
    if x[-2:] == 'OH':
        return x[:-4]
    return x

# def delete_OH(x):
#     return type(x)

In [10]:
df2 = pd.read_csv('data.csv')
df2 = df2[df2.County.notnull()]
df2

,Unnamed: 0,Year,County,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error,% of Total Deaths,Divorce Count
0,0,2015,"Adams County, OH",13,22006,Unreliable,31.5,101.0,16.4,0.10%,119.0
1,1,2015,"Allen County, OH",21,82914,25.3,15.7,38.7,5.5,0.10%,326.0
2,2,2015,"Ashtabula County, OH",24,79192,30.3,19.4,45.1,6.2,0.10%,344.0
3,3,2015,"Belmont County, OH",18,57540,Unreliable,18.5,49.4,7.4,0.10%,229.0
4,4,2015,"Brown County, OH",26,34930,74.4,48.6,109.1,14.6,0.10%,168.0
...,...,...,...,...,...,...,...,...,...,...,...
245,245,2019,"Tuscarawas County, OH",15,73440,Unreliable,11.4,33.7,5.3,0.10%,305.0
246,246,2019,"Warren County, OH",48,185077,25.9,19.1,34.4,3.7,0.20%,681.0
247,247,2019,"Washington County, OH",11,49557,Unreliable,11.1,39.7,6.7,0.10%,241.0
248,248,2019,"Wayne County, OH",24,90983,26.4,16.9,39.2,5.4,0.10%,264.0
249,249,2019,"Wood County, OH",27,107311,25.2,16.6,36.6,4.8,0.10%,309.0

In [11]:
df2['County'].apply(delete_OH)

0           Adams County
1           Allen County
2       Ashtabula County
3         Belmont County
4           Brown County
             ...
245    Tuscarawas County
246        Warren County
247    Washington County
248         Wayne County
249          Wood County
Name: County, Length: 250, dtype: object

In [12]:
df2['County'] = df2['County'].apply(delete_OH)
df2

,Unnamed: 0,Year,County,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error,% of Total Deaths,Divorce Count
0,0,2015,Adams County,13,22006,Unreliable,31.5,101.0,16.4,0.10%,119.0
1,1,2015,Allen County,21,82914,25.3,15.7,38.7,5.5,0.10%,326.0
2,2,2015,Ashtabula County,24,79192,30.3,19.4,45.1,6.2,0.10%,344.0
3,3,2015,Belmont County,18,57540,Unreliable,18.5,49.4,7.4,0.10%,229.0
4,4,2015,Brown County,26,34930,74.4,48.6,109.1,14.6,0.10%,168.0
...,...,...,...,...,...,...,...,...,...,...,...
245,245,2019,Tuscarawas County,15,73440,Unreliable,11.4,33.7,5.3,0.10%,305.0
246,246,2019,Warren County,48,185077,25.9,19.1,34.4,3.7,0.20%,681.0
247,247,2019,Washington County,11,49557,Unreliable,11.1,39.7,6.7,0.10%,241.0
248,248,2019,Wayne County,24,90983,26.4,16.9,39.2,5.4,0.10%,264.0
249,249,2019,Wood County,27,107311,25.2,16.6,36.6,4.8,0.10%,309.0

In [13]:
county = df2.County.unique()

In [14]:
type(county)

numpy.ndarray

In [15]:
len(county)

50

In [16]:
fileter = new_df.NAME.apply(lambda x: x in county)

In [17]:
final = new_df.copy()[fileter]

In [18]:
final = final.iloc[:, :-1]
final

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_001M,S1501_C01_002E,S1501_C01_002M,S1501_C01_003E,S1501_C01_003M,S1501_C01_004E,S1501_C01_004M,...,S1501_C06_059M,S1501_C06_060E,S1501_C06_060M,S1501_C06_061E,S1501_C06_061M,S1501_C06_062E,S1501_C06_062M,S1501_C06_063E,S1501_C06_063M,S1501_C06_064E
1,0500000US39001,Adams County,2157,60,356,110,1019,153,707,132,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
2,0500000US39003,Allen County,11124,137,1859,319,3596,474,4932,527,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,0500000US39007,Ashtabula County,7997,133,2029,315,3347,357,2425,271,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
7,0500000US39013,Belmont County,5408,113,980,144,1977,240,2155,194,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
8,0500000US39015,Brown County,3418,71,259,97,1548,240,1505,214,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
9,0500000US39017,Butler County,44576,126,4235,419,15022,860,21834,961,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
12,0500000US39023,Clark County,12241,58,1965,266,4248,412,5400,369,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
13,0500000US39025,Clermont County,16159,173,1964,319,6028,456,6553,449,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
14,0500000US39027,Clinton County,4033,112,607,139,1368,188,1809,248,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
15,0500000US39029,Columbiana County,8067,132,1449,187,3237,302,2982,296,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
18,0500000US39035,Cuyahoga County,115133,42,19730,967,34070,1019,46834,1088,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
19,0500000US39037,Darke County,3993,44,555,146,1724,174,1377,173,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
21,0500000US39041,Delaware County,13292,118,1704,284,3887,384,6069,460,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
22,0500000US39043,Erie County,5986,127,730,197,2336,273,2593,295,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
23,0500000US39045,Fairfield County,12550,193,2141,340,4955,464,4540,472,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
25,0500000US39049,Franklin County,130469,56,15550,964,32061,1424,64232,1575,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
27,0500000US39053,Gallia County,2639,68,389,121,1068,174,1094,190,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
28,0500000US39055,Geauga County,7263,88,1755,229,2286,269,2291,310,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
29,0500000US39057,Greene County,21682,105,1601,331,4392,549,13083,696,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
31,0500000US39061,Hamilton County,79783,99,10060,699,24987,922,34352,1074,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
32,0500000US39063,Hancock County,7329,166,599,196,2298,336,3831,331,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
39,0500000US39077,Huron County,4764,128,898,168,2065,272,1561,221,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
41,0500000US39081,Jefferson County,6691,158,654,123,2067,212,3696,247,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
42,0500000US39083,Knox County,7237,138,888,221,2300,299,3824,317,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
43,0500000US39085,Lake County,17696,77,2458,385,5123,413,8084,479,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
44,0500000US39087,Lawrence County,4858,114,799,192,2032,242,1733,252,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
45,0500000US39089,Licking County,15184,133,2210,317,4862,452,7121,428,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
46,0500000US39091,Logan County,3457,71,658,175,1503,211,1132,225,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
47,0500000US39093,Lorain County,26536,96,4587,541,7424,544,12787,710,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
48,0500000US39095,Lucas County,44921,59,7401,568,12951,725,20737,895,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
50,0500000US39099,Mahoning County,20482,64,3366,332,6516,500,8870,487,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
51,0500000US39101,Marion County,5757,142,1181,195,2276,266,2019,219,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
52,0500000US39103,Medina County,12944,106,1699,217,5027,429,4965,418,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
55,0500000US39109,Miami County,7838,182,1147,222,3228,279,2937,267,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
57,0500000US39113,Montgomery County,50949,70,7981,582,13582,813,25336,893,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
60,0500000US39119,Muskingum County,7908,102,926,152,3001,237,3493,250,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
67,0500000US39133,Portage County,26657,111,1844,263,6473,584,15655,772,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
68,0500000US39135,Preble County,3206,63,617,132,1103,157,1366,198,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
70,0500000US39139,Richland County,10347,72,2194,309,4230,438,3447,440,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
71,0500000US39141,Ross County,6222,121,1301,240,2496,315,2195,275,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
72,0500000US39143,Sandusky County,4829,79,435,130,1933,216,2207,217,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
73,0500000US39145,Scioto County,7477,130,1148,211,2621,313,3468,302,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
76,0500000US39151,Stark County,33519,133,4563,443,10743,600,15666,636,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
77,0500000US39153,Summit County,49274,75,6665,475,14465,860,22865,898,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
78,0500000US39155,Trumbull County,16777,156,3265,337,7100,505,5413,423,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
79,0500000US39157,Tuscarawas County,7205,150,1163,215,3109,269,2467,269,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
83,0500000US39165,Warren County,16103,212,2500,326,4889,467,6599,503,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
84,0500000US39167,Washington County,5637,102,660,138,2257,283,2280,275,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
85,0500000US39169,Wayne County,11631,137,2060,257,3757,332,5212,340,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
87,0500000US39173,Wood County,22867,179,1250,230,3794,412,15378,561,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [19]:
final

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_001M,S1501_C01_002E,S1501_C01_002M,S1501_C01_003E,S1501_C01_003M,S1501_C01_004E,S1501_C01_004M,...,S1501_C06_059M,S1501_C06_060E,S1501_C06_060M,S1501_C06_061E,S1501_C06_061M,S1501_C06_062E,S1501_C06_062M,S1501_C06_063E,S1501_C06_063M,S1501_C06_064E
1,0500000US39001,Adams County,2157,60,356,110,1019,153,707,132,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
2,0500000US39003,Allen County,11124,137,1859,319,3596,474,4932,527,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,0500000US39007,Ashtabula County,7997,133,2029,315,3347,357,2425,271,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
7,0500000US39013,Belmont County,5408,113,980,144,1977,240,2155,194,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
8,0500000US39015,Brown County,3418,71,259,97,1548,240,1505,214,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
9,0500000US39017,Butler County,44576,126,4235,419,15022,860,21834,961,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
12,0500000US39023,Clark County,12241,58,1965,266,4248,412,5400,369,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
13,0500000US39025,Clermont County,16159,173,1964,319,6028,456,6553,449,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
14,0500000US39027,Clinton County,4033,112,607,139,1368,188,1809,248,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
15,0500000US39029,Columbiana County,8067,132,1449,187,3237,302,2982,296,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
18,0500000US39035,Cuyahoga County,115133,42,19730,967,34070,1019,46834,1088,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
19,0500000US39037,Darke County,3993,44,555,146,1724,174,1377,173,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
21,0500000US39041,Delaware County,13292,118,1704,284,3887,384,6069,460,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
22,0500000US39043,Erie County,5986,127,730,197,2336,273,2593,295,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
23,0500000US39045,Fairfield County,12550,193,2141,340,4955,464,4540,472,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
25,0500000US39049,Franklin County,130469,56,15550,964,32061,1424,64232,1575,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
27,0500000US39053,Gallia County,2639,68,389,121,1068,174,1094,190,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
28,0500000US39055,Geauga County,7263,88,1755,229,2286,269,2291,310,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
29,0500000US39057,Greene County,21682,105,1601,331,4392,549,13083,696,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
31,0500000US39061,Hamilton County,79783,99,10060,699,24987,922,34352,1074,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
32,0500000US39063,Hancock County,7329,166,599,196,2298,336,3831,331,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
39,0500000US39077,Huron County,4764,128,898,168,2065,272,1561,221,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
41,0500000US39081,Jefferson County,6691,158,654,123,2067,212,3696,247,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
42,0500000US39083,Knox County,7237,138,888,221,2300,299,3824,317,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
43,0500000US39085,Lake County,17696,77,2458,385,5123,413,8084,479,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
44,0500000US39087,Lawrence County,4858,114,799,192,2032,242,1733,252,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
45,0500000US39089,Licking County,15184,133,2210,317,4862,452,7121,428,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
46,0500000US39091,Logan County,3457,71,658,175,1503,211,1132,225,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
47,0500000US39093,Lorain County,26536,96,4587,541,7424,544,12787,710,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
48,0500000US39095,Lucas County,44921,59,7401,568,12951,725,20737,895,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
50,0500000US39099,Mahoning County,20482,64,3366,332,6516,500,8870,487,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
51,0500000US39101,Marion County,5757,142,1181,195,2276,266,2019,219,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
52,0500000US39103,Medina County,12944,106,1699,217,5027,429,4965,418,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
55,0500000US39109,Miami County,7838,182,1147,222,3228,279,2937,267,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
57,0500000US39113,Montgomery County,50949,70,7981,582,13582,813,25336,893,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
60,0500000US39119,Muskingum County,7908,102,926,152,3001,237,3493,250,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
67,0500000US39133,Portage County,26657,111,1844,263,6473,584,15655,772,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
68,0500000US39135,Preble County,3206,63,617,132,1103,157,1366,198,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
70,0500000US39139,Richland County,10347,72,2194,309,4230,438,3447,440,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
71,0500000US39141,Ross County,6222,121,1301,240,2496,315,2195,275,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
72,0500000US39143,Sandusky County,4829,79,435,130,1933,216,2207,217,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
73,0500000US39145,Scioto County,7477,130,1148,211,2621,313,3468,302,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
76,0500000US39151,Stark County,33519,133,4563,443,10743,600,15666,636,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
77,0500000US39153,Summit County,49274,75,6665,475,14465,860,22865,898,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
78,0500000US39155,Trumbull County,16777,156,3265,337,7100,505,5413,423,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
79,0500000US39157,Tuscarawas County,7205,150,1163,215,3109,269,2467,269,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
83,0500000US39165,Warren County,16103,212,2500,326,4889,467,6599,503,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
84,0500000US39167,Washington County,5637,102,660,138,2257,283,2280,275,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
85,0500000US39169,Wayne County,11631,137,2060,257,3757,332,5212,340,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
87,0500000US39173,Wood County,22867,179,1250,230,3794,412,15378,561,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [20]:
s = ['S1501_C01_002E',
     'S1501_C01_007E',
     'S1501_C01_008E']

In [21]:
test = final[s]
test = test.reset_index(drop=True)

In [22]:
test.head()

  S1501_C01_002E S1501_C01_007E S1501_C01_008E
0            356           1451           2760
1           1859           1509           5892
2           2029           3021           7011
3            980           1206           4136
4            259           1211           3690

In [23]:
type(test['S1501_C01_002E'].values[0])

str

In [24]:
test['S1501_C01_002E'] = test['S1501_C01_002E'].astype(int)
test['S1501_C01_007E'] = test['S1501_C01_007E'].astype(int)
test['S1501_C01_008E'] = test['S1501_C01_008E'].astype(int)

In [25]:
type(test['S1501_C01_002E'].values[0])

numpy.int64

In [26]:
test['sum'] = test.sum(axis=1)

In [27]:
test.head()

   S1501_C01_002E  S1501_C01_007E  S1501_C01_008E    sum
0             356            1451            2760   4567
1            1859            1509            5892   9260
2            2029            3021            7011  12061
3             980            1206            4136   6322
4             259            1211            3690   5160

In [28]:
test

    S1501_C01_002E  S1501_C01_007E  S1501_C01_008E     sum
0              356            1451            2760    4567
1             1859            1509            5892    9260
2             2029            3021            7011   12061
3              980            1206            4136    6322
4              259            1211            3690    5160
5             4235            7203           17430   28868
6             1965            3226            9078   14269
7             1964            4138           10020   16122
8              607             815            2516    3938
9             1449            2095            7657   11201
10           19730           27430           77278  124438
11             555             876            3311    4742
12            1704             950            3109    5763
13             730            1196            4079    6005
14            2141            2149            6128   10418
15           15550           25559           54192   95301
16             389            1437            2741    4567
17            1755            3356            2339    7450
18            1601            2648            5788   10037
19           10060           15365           40597   66022
20             599             829            3469    4897
21             898            1855            2913    5666
22             654            1508            3245    5407
23             888            1647            2711    5246
24            2458            3919            9581   15958
25             799            1569            4422    6790
26            2210            2371            9063   13644
27             658             886            2701    4245
28            4587            5592           16916   27095
29            7401            8562           25139   41102
30            3366            4601           12892   20859
31            1181            1336            5034    7551
32            1699            2230            5607    9536
33            1147            1538            6591    9276
34            7981           10617           28696   47294
35             926            1651            6108    8685
36            1844            1918            6981   10743
37             617             995            2405    4017
38            2194            2872            8425   13491
39            1301            2247            6064    9612
40             435            1429            2766    4630
41            1148            3162            6153   10463
42            4563            7425           18486   30474
43            6665            9106           24871   40642
44            3265            4637           12202   20104
45            1163            3143            5915   10221
46            2500            2693            7622   12815
47             660            1142            3369    5171
48            2060            5283            5971   13314
49            1250            1145            3562    5957

In [29]:
df2['education: less_than_high_school'] = test['sum']

In [30]:
df2

,Unnamed: 0,Year,County,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error,% of Total Deaths,Divorce Count,education: less_than_high_school
0,0,2015,Adams County,13,22006,Unreliable,31.5,101.0,16.4,0.10%,119.0,4567.0
1,1,2015,Allen County,21,82914,25.3,15.7,38.7,5.5,0.10%,326.0,9260.0
2,2,2015,Ashtabula County,24,79192,30.3,19.4,45.1,6.2,0.10%,344.0,12061.0
3,3,2015,Belmont County,18,57540,Unreliable,18.5,49.4,7.4,0.10%,229.0,6322.0
4,4,2015,Brown County,26,34930,74.4,48.6,109.1,14.6,0.10%,168.0,5160.0
...,...,...,...,...,...,...,...,...,...,...,...,...
245,245,2019,Tuscarawas County,15,73440,Unreliable,11.4,33.7,5.3,0.10%,305.0,NaN
246,246,2019,Warren County,48,185077,25.9,19.1,34.4,3.7,0.20%,681.0,NaN
247,247,2019,Washington County,11,49557,Unreliable,11.1,39.7,6.7,0.10%,241.0,NaN
248,248,2019,Wayne County,24,90983,26.4,16.9,39.2,5.4,0.10%,264.0,NaN
249,249,2019,Wood County,27,107311,25.2,16.6,36.6,4.8,0.10%,309.0,NaN

In [31]:
#edu_2016 data cleaning

In [32]:
def delete_ohio(x):
    if x[-4:] == 'Ohio':
        return x[:-6]
    return x

In [33]:
def extract(file):
    
    def delete_ohio(x):
        if x[-4:] == 'Ohio':
            return x[:-6]
        return x
    
    df = pd.read_csv(file)
    df['NAME'] = df['NAME'].apply(delete_ohio)
    
    
    fileter = df.NAME.apply(lambda x: x in county) #county = df2.County.unique()
    final = df.copy()[fileter]
    final = final.iloc[:, :-1]
    
    cols = ['S1501_C01_002E','S1501_C01_007E','S1501_C01_008E']
    result = final[cols]
    result = result.reset_index(drop=True)
    
    result['S1501_C01_002E'] = result['S1501_C01_002E'].astype(int)
    result['S1501_C01_007E'] = result['S1501_C01_007E'].astype(int)
    result['S1501_C01_008E'] = result['S1501_C01_008E'].astype(int)
    result['sum'] = result.sum(axis=1) 
    
    return pd.DataFrame(result['sum'])

In [34]:
extract('edu_2016.csv').head()

     sum
0   4504
1   9200
2  12014
3   5994
4   4766

In [35]:
files = ['edu_2015.csv', 'edu_2016.csv', 'edu_2017.csv',
         'edu_2018.csv', 'edu_2019.csv']

In [36]:
extract('edu_2017.csv')

       sum
0     4311
1     9402
2    11849
3     5670
4     4485
5    27430
6    13552
7    15850
8     3716
9    10877
10  112900
11    4375
12    5968
13    5121
14   10200
15   92163
16    4304
17    8334
18    9261
19   61102
20    4345
21    5896
22    5189
23    4330
24   15395
25    6869
26   13513
27    3748
28   26380
29   39842
30   18856
31    6883
32    9006
33    8555
34   43732
35    8232
36   10476
37    3510
38   13314
39    8513
40    4824
41    9745
42   28258
43   39335
44   19115
45   10159
46   12875
47    4983
48   13000
49    5776

In [37]:
def combine(files, answer=None):
    is_first = True
    for f in files:
        if is_first:
            is_first = False
            answer =extract(f)
        else:
            answer = pd.concat([answer, extract(f)])
    answer = answer.reset_index(drop=True)
    return answer

In [38]:
df2 = df2.reset_index(drop=True)

In [39]:
combine(files)

       sum
0     4567
1     9260
2    12061
3     6322
4     5160
..     ...
245  10455
246  12201
247   4773
248  12489
249   5501

[250 rows x 1 columns]

In [40]:
df2['edu'] = combine(files)

In [41]:
df2

,Unnamed: 0,Year,County,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error,% of Total Deaths,Divorce Count,education: less_than_high_school,edu
0,0,2015,Adams County,13,22006,Unreliable,31.5,101.0,16.4,0.10%,119.0,4567.0,4567
1,1,2015,Allen County,21,82914,25.3,15.7,38.7,5.5,0.10%,326.0,9260.0,9260
2,2,2015,Ashtabula County,24,79192,30.3,19.4,45.1,6.2,0.10%,344.0,12061.0,12061
3,3,2015,Belmont County,18,57540,Unreliable,18.5,49.4,7.4,0.10%,229.0,6322.0,6322
4,4,2015,Brown County,26,34930,74.4,48.6,109.1,14.6,0.10%,168.0,5160.0,5160
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,245,2019,Tuscarawas County,15,73440,Unreliable,11.4,33.7,5.3,0.10%,305.0,NaN,10455
246,246,2019,Warren County,48,185077,25.9,19.1,34.4,3.7,0.20%,681.0,NaN,12201
247,247,2019,Washington County,11,49557,Unreliable,11.1,39.7,6.7,0.10%,241.0,NaN,4773
248,248,2019,Wayne County,24,90983,26.4,16.9,39.2,5.4,0.10%,264.0,NaN,12489
249,249,2019,Wood County,27,107311,25.2,16.6,36.6,4.8,0.10%,309.0,NaN,5501

In [42]:
df2['education: less_than_high_school'] = df2['edu']
df2 = df2.drop(columns='edu')
df2

,Unnamed: 0,Year,County,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error,% of Total Deaths,Divorce Count,education: less_than_high_school
0,0,2015,Adams County,13,22006,Unreliable,31.5,101.0,16.4,0.10%,119.0,4567
1,1,2015,Allen County,21,82914,25.3,15.7,38.7,5.5,0.10%,326.0,9260
2,2,2015,Ashtabula County,24,79192,30.3,19.4,45.1,6.2,0.10%,344.0,12061
3,3,2015,Belmont County,18,57540,Unreliable,18.5,49.4,7.4,0.10%,229.0,6322
4,4,2015,Brown County,26,34930,74.4,48.6,109.1,14.6,0.10%,168.0,5160
...,...,...,...,...,...,...,...,...,...,...,...,...
245,245,2019,Tuscarawas County,15,73440,Unreliable,11.4,33.7,5.3,0.10%,305.0,10455
246,246,2019,Warren County,48,185077,25.9,19.1,34.4,3.7,0.20%,681.0,12201
247,247,2019,Washington County,11,49557,Unreliable,11.1,39.7,6.7,0.10%,241.0,4773
248,248,2019,Wayne County,24,90983,26.4,16.9,39.2,5.4,0.10%,264.0,12489
249,249,2019,Wood County,27,107311,25.2,16.6,36.6,4.8,0.10%,309.0,5501

In [43]:
xs = ['Population', 'Divorce Count', 'education: less than high school', 'household: homeless', 'household: foster kids', 'houshold: people living alone']

In [44]:
household_2015 = 'household_2015.csv' # 88 county
# # file2 = 'data.csv'     # 50 county
household_2016 = 'household_2016.csv' # 88 county
household_2017 = 'household_2017.csv' # 88 county
household_2018 = 'household_2018.csv' # 88 county
household_2019 = 'household_2019.csv' # 88 county

In [45]:
# household 2015 data cleaning

In [46]:
dfhh15 = pd.read_csv(household_2015)

In [47]:
dfhh15.head(5)

,GEO_ID,NAME,B09019_001E,B09019_001M,B09019_002E,B09019_002M,B09019_003E,B09019_003M,B09019_004E,B09019_004M,...,B09019_034E,B09019_034M,B09019_035E,B09019_035M,B09019_036E,B09019_036M,B09019_037E,B09019_037M,B09019_038E,B09019_038M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!In households,Margin of Error!!Total!!In households,Estimate!!Total!!In households!!In family hous...,Margin of Error!!Total!!In households!!In fami...,Estimate!!Total!!In households!!In family hous...,Margin of Error!!Total!!In households!!In fami...,...,Estimate!!Total!!In households!!In nonfamily h...,Margin of Error!!Total!!In households!!In nonf...,Estimate!!Total!!In households!!In nonfamily h...,Margin of Error!!Total!!In households!!In nonf...,Estimate!!Total!!In households!!In nonfamily h...,Margin of Error!!Total!!In households!!In nonf...,Estimate!!Total!!In households!!In nonfamily h...,Margin of Error!!Total!!In households!!In nonf...,Estimate!!Total!!In group quarters,Margin of Error!!Total!!In group quarters
1,0500000US39001,"Adams County, Ohio",28229,*****,27847,124,23670,503,7441,317,...,50,45,218,78,0,20,455,282,382,124
2,0500000US39003,"Allen County, Ohio",105196,*****,101279,485,84108,960,26203,629,...,915,366,1391,204,53,70,582,230,3917,485
3,0500000US39005,"Ashland County, Ohio",53189,*****,51065,244,43088,592,13980,373,...,446,176,731,180,0,26,300,116,2124,244
4,0500000US39007,"Ashtabula County, Ohio",99777,*****,96275,330,79469,862,25206,511,...,420,126,1808,283,4,5,786,258,3502,330

In [48]:
new_dfhh15 = dfhh15.copy()
new_dfhh15.head()

,GEO_ID,NAME,B09019_001E,B09019_001M,B09019_002E,B09019_002M,B09019_003E,B09019_003M,B09019_004E,B09019_004M,...,B09019_034E,B09019_034M,B09019_035E,B09019_035M,B09019_036E,B09019_036M,B09019_037E,B09019_037M,B09019_038E,B09019_038M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!In households,Margin of Error!!Total!!In households,Estimate!!Total!!In households!!In family hous...,Margin of Error!!Total!!In households!!In fami...,Estimate!!Total!!In households!!In family hous...,Margin of Error!!Total!!In households!!In fami...,...,Estimate!!Total!!In households!!In nonfamily h...,Margin of Error!!Total!!In households!!In nonf...,Estimate!!Total!!In households!!In nonfamily h...,Margin of Error!!Total!!In households!!In nonf...,Estimate!!Total!!In households!!In nonfamily h...,Margin of Error!!Total!!In households!!In nonf...,Estimate!!Total!!In households!!In nonfamily h...,Margin of Error!!Total!!In households!!In nonf...,Estimate!!Total!!In group quarters,Margin of Error!!Total!!In group quarters
1,0500000US39001,"Adams County, Ohio",28229,*****,27847,124,23670,503,7441,317,...,50,45,218,78,0,20,455,282,382,124
2,0500000US39003,"Allen County, Ohio",105196,*****,101279,485,84108,960,26203,629,...,915,366,1391,204,53,70,582,230,3917,485
3,0500000US39005,"Ashland County, Ohio",53189,*****,51065,244,43088,592,13980,373,...,446,176,731,180,0,26,300,116,2124,244
4,0500000US39007,"Ashtabula County, Ohio",99777,*****,96275,330,79469,862,25206,511,...,420,126,1808,283,4,5,786,258,3502,330

In [49]:
def delete_ohio(x):
    if x[-4:] == "Ohio":
        return x[:-6]
    return x

In [50]:
new_dfhh15['NAME'] = new_dfhh15['NAME'].apply(delete_ohio)

In [51]:
new_dfhh15

,GEO_ID,NAME,B09019_001E,B09019_001M,B09019_002E,B09019_002M,B09019_003E,B09019_003M,B09019_004E,B09019_004M,...,B09019_034E,B09019_034M,B09019_035E,B09019_035M,B09019_036E,B09019_036M,B09019_037E,B09019_037M,B09019_038E,B09019_038M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!In households,Margin of Error!!Total!!In households,Estimate!!Total!!In households!!In family hous...,Margin of Error!!Total!!In households!!In fami...,Estimate!!Total!!In households!!In family hous...,Margin of Error!!Total!!In households!!In fami...,...,Estimate!!Total!!In households!!In nonfamily h...,Margin of Error!!Total!!In households!!In nonf...,Estimate!!Total!!In households!!In nonfamily h...,Margin of Error!!Total!!In households!!In nonf...,Estimate!!Total!!In households!!In nonfamily h...,Margin of Error!!Total!!In households!!In nonf...,Estimate!!Total!!In households!!In nonfamily h...,Margin of Error!!Total!!In households!!In nonf...,Estimate!!Total!!In group quarters,Margin of Error!!Total!!In group quarters
1,0500000US39001,Adams County,28229,*****,27847,124,23670,503,7441,317,...,50,45,218,78,0,20,455,282,382,124
2,0500000US39003,Allen County,105196,*****,101279,485,84108,960,26203,629,...,915,366,1391,204,53,70,582,230,3917,485
3,0500000US39005,Ashland County,53189,*****,51065,244,43088,592,13980,373,...,446,176,731,180,0,26,300,116,2124,244
4,0500000US39007,Ashtabula County,99777,*****,96275,330,79469,862,25206,511,...,420,126,1808,283,4,5,786,258,3502,330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,0500000US39167,Washington County,61351,*****,59674,361,49397,694,16380,458,...,260,114,842,188,0,26,341,204,1677,361
85,0500000US39169,Wayne County,115371,*****,111511,331,97065,675,30420,547,...,516,157,1056,145,0,26,308,130,3860,331
86,0500000US39171,Williams County,37386,*****,36138,261,29774,450,9818,297,...,121,54,605,144,27,33,182,96,1248,261
87,0500000US39173,Wood County,128885,*****,121996,577,95048,1098,30997,631,...,4885,613,2158,316,12,15,659,229,6889,577
88,0500000US39175,Wyandot County,22467,*****,22177,116,18311,361,6236,224,...,98,65,471,126,0,20,202,95,290,116

In [52]:
county = df2.County.unique()

In [53]:
type(county)

numpy.ndarray

In [54]:
len(county)

50

In [55]:
fileter = new_dfhh15.NAME.apply(lambda x: x in county)

In [56]:
final = new_dfhh15.copy()[fileter]

In [57]:
final = final.iloc[:, :-1]
final

,GEO_ID,NAME,B09019_001E,B09019_001M,B09019_002E,B09019_002M,B09019_003E,B09019_003M,B09019_004E,B09019_004M,...,B09019_033M,B09019_034E,B09019_034M,B09019_035E,B09019_035M,B09019_036E,B09019_036M,B09019_037E,B09019_037M,B09019_038E
1,0500000US39001,Adams County,28229,*****,27847,124,23670,503,7441,317,...,57,50,45,218,78,0,20,455,282,382
2,0500000US39003,Allen County,105196,*****,101279,485,84108,960,26203,629,...,240,915,366,1391,204,53,70,582,230,3917
4,0500000US39007,Ashtabula County,99777,*****,96275,330,79469,862,25206,511,...,103,420,126,1808,283,4,5,786,258,3502
7,0500000US39013,Belmont County,69560,*****,65516,326,54047,557,18038,418,...,38,288,92,882,176,0,26,360,150,4044
8,0500000US39015,Brown County,44247,*****,43666,185,37985,585,12053,420,...,36,62,48,458,129,9,14,502,275,581
9,0500000US39017,Butler County,372538,*****,361240,599,306344,1890,93384,1154,...,395,6222,795,4885,517,83,130,1606,445,11298
12,0500000US39023,Clark County,136827,*****,133703,438,110639,1104,35980,660,...,63,1324,258,2022,289,0,26,779,308,3124
13,0500000US39025,Clermont County,200285,*****,198484,364,171585,1203,53236,761,...,263,894,253,2080,310,0,26,2002,509,1801
14,0500000US39027,Clinton County,41892,*****,40672,207,34742,550,11097,397,...,23,201,132,599,179,0,23,129,95,1220
15,0500000US39029,Columbiana County,105987,*****,102214,424,86062,957,28616,615,...,134,375,150,1457,232,10,15,607,244,3773
18,0500000US39035,Cuyahoga County,1263189,*****,1234454,1168,966385,2960,305683,2175,...,495,11396,825,18090,796,242,134,6295,578,28735
19,0500000US39037,Darke County,52356,*****,51671,176,44065,446,14154,319,...,59,90,64,624,138,0,26,125,64,685
21,0500000US39041,Delaware County,185433,*****,182693,381,164421,1061,50267,636,...,72,750,236,1799,322,0,26,281,109,2740
22,0500000US39043,Erie County,76141,*****,74753,350,60879,777,20161,539,...,167,662,258,1229,235,0,26,206,138,1388
23,0500000US39045,Fairfield County,149112,*****,146306,330,127971,1142,39967,729,...,92,605,214,1781,318,0,26,729,296,2806
25,0500000US39049,Franklin County,1215761,*****,1189453,949,917154,4163,279594,2768,...,647,36761,1958,22501,995,140,87,7755,1008,26308
27,0500000US39053,Gallia County,30565,*****,29719,264,25803,515,8202,344,...,42,89,70,256,111,0,23,153,90,846
28,0500000US39055,Geauga County,93874,*****,92936,236,82531,868,26125,533,...,106,124,65,1187,296,0,26,253,160,938
29,0500000US39057,Greene County,164192,*****,154885,574,127488,1040,42229,633,...,250,2907,568,1594,275,0,26,508,166,9307
31,0500000US39061,Hamilton County,804194,*****,785894,1088,614481,2694,194047,1468,...,439,15381,1116,11923,784,243,182,4540,654,18300
32,0500000US39063,Hancock County,75428,*****,73554,220,59894,762,20133,464,...,68,1050,446,1215,271,0,26,347,153,1874
39,0500000US39077,Huron County,58937,*****,58101,318,49517,657,15754,400,...,36,244,135,968,177,0,26,542,239,836
41,0500000US39081,Jefferson County,68053,*****,65613,282,54102,650,18208,473,...,64,409,125,818,196,36,37,388,132,2440
42,0500000US39083,Knox County,61004,*****,57518,318,48095,817,15269,504,...,66,505,223,1039,211,0,26,286,137,3486
43,0500000US39085,Lake County,229437,*****,226286,331,187013,1162,61685,851,...,203,1538,372,3231,368,0,26,848,263,3151
44,0500000US39087,Lawrence County,61827,*****,61140,129,52168,588,15963,555,...,42,227,110,901,223,0,26,215,131,687
45,0500000US39089,Licking County,168693,*****,165075,335,142167,1022,45206,734,...,113,642,210,2299,312,0,26,756,209,3618
46,0500000US39091,Logan County,45484,*****,45093,132,37745,545,12733,376,...,15,144,92,927,214,0,23,356,195,391
47,0500000US39093,Lorain County,303152,*****,293541,590,248497,1300,79771,966,...,172,2427,639,3560,364,0,26,1092,269,9611
48,0500000US39095,Lucas County,436261,*****,426270,627,337667,2100,106520,1259,...,295,6088,806,7158,599,46,55,2889,519,9991
50,0500000US39099,Mahoning County,234550,*****,227057,631,183683,1443,60900,843,...,147,1189,376,3306,349,34,39,1652,439,7493
51,0500000US39101,Marion County,65943,*****,59579,547,50509,709,16761,402,...,27,198,89,751,151,0,26,365,175,6364
52,0500000US39103,Medina County,174831,*****,173493,269,151832,835,47945,733,...,83,659,224,1998,244,5,8,813,243,1338
55,0500000US39109,Miami County,103517,*****,102544,239,86196,905,27826,504,...,115,795,243,1821,356,0,26,320,147,973
57,0500000US39113,Montgomery County,533763,*****,516285,815,410280,2094,133872,1565,...,320,5988,826,7600,514,8,12,2454,488,17478
60,0500000US39119,Muskingum County,86016,*****,84041,268,70271,715,22897,477,...,45,496,154,1313,213,0,26,529,216,1975
67,0500000US39133,Portage County,161897,*****,155245,598,125343,1242,40002,676,...,208,4879,631,2537,337,27,47,1045,277,6652
68,0500000US39135,Preble County,41682,*****,41271,159,35532,529,11412,324,...,84,284,155,431,125,9,13,223,115,411
70,0500000US39139,Richland County,122312,*****,115338,389,94074,1093,30471,637,...,83,971,443,1615,263,9,14,902,314,6974
71,0500000US39141,Ross County,77334,*****,71299,367,60754,742,19608,480,...,7,591,279,872,183,0,26,416,177,6035
72,0500000US39143,Sandusky County,60187,*****,58913,311,49456,634,15850,374,...,115,358,180,828,196,0,26,317,159,1274
73,0500000US39145,Scioto County,78017,*****,74365,335,60357,883,18677,574,...,152,706,273,798,199,11,18,1311,413,3652
76,0500000US39151,Stark County,374979,*****,365895,695,303699,1711,98810,1306,...,165,3181,755,5334,522,50,41,1560,298,9084
77,0500000US39153,Summit County,541847,*****,532555,628,431256,2015,138178,1403,...,332,6893,781,7839,514,67,54,2405,454,9292
78,0500000US39155,Trumbull County,206373,*****,202289,377,166400,1275,55428,840,...,98,854,198,2608,378,16,24,823,323,4084
79,0500000US39157,Tuscarawas County,92697,*****,91555,287,77735,772,25250,520,...,42,342,156,1337,229,0,26,630,227,1142
83,0500000US39165,Warren County,219916,*****,213862,506,189871,1076,58919,790,...,162,1197,396,2523,314,9,13,577,208,6054
84,0500000US39167,Washington County,61351,*****,59674,361,49397,694,16380,458,...,111,260,114,842,188,0,26,341,204,1677
85,0500000US39169,Wayne County,115371,*****,111511,331,97065,675,30420,547,...,64,516,157,1056,145,0,26,308,130,3860
87,0500000US39173,Wood County,128885,*****,121996,577,95048,1098,30997,631,...,96,4885,613,2158,316,12,15,659,229,6889

In [58]:
s = ['B09019_022E']

In [59]:
test = final[s]
test = test.reset_index(drop=True)

In [60]:
test.head

<bound method NDFrame.head of    B09019_022E
0            4
1            0
2           54
3           19
4           12
5          167
6           76
7          145
8           47
9          106
10         578
11          42
12          88
13           1
14          99
15         531
16          15
17          39
18          56
19         851
20          11
21          40
22          81
23          10
24          55
25          23
26         183
27          28
28         146
29         299
30         169
31          34
32          47
33          26
34         291
35         153
36          74
37          14
38         107
39          31
40          50
41          54
42         170
43         250
44          85
45          51
46          41
47          83
48          99
49          40>

In [61]:
type(test['B09019_022E'].values[0])

str

In [62]:
test['B09019_022E'] = test['B09019_022E'].astype(int)

In [63]:
type(test['B09019_022E'].values[0])

numpy.int64

In [64]:
df2['household: foster_kids'] = test['B09019_022E']

In [65]:
df2

,Unnamed: 0,Year,County,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error,% of Total Deaths,Divorce Count,education: less_than_high_school,household: foster_kids
0,0,2015,Adams County,13,22006,Unreliable,31.5,101.0,16.4,0.10%,119.0,4567,4.0
1,1,2015,Allen County,21,82914,25.3,15.7,38.7,5.5,0.10%,326.0,9260,0.0
2,2,2015,Ashtabula County,24,79192,30.3,19.4,45.1,6.2,0.10%,344.0,12061,54.0
3,3,2015,Belmont County,18,57540,Unreliable,18.5,49.4,7.4,0.10%,229.0,6322,19.0
4,4,2015,Brown County,26,34930,74.4,48.6,109.1,14.6,0.10%,168.0,5160,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,245,2019,Tuscarawas County,15,73440,Unreliable,11.4,33.7,5.3,0.10%,305.0,10455,NaN
246,246,2019,Warren County,48,185077,25.9,19.1,34.4,3.7,0.20%,681.0,12201,NaN
247,247,2019,Washington County,11,49557,Unreliable,11.1,39.7,6.7,0.10%,241.0,4773,NaN
248,248,2019,Wayne County,24,90983,26.4,16.9,39.2,5.4,0.10%,264.0,12489,NaN
249,249,2019,Wood County,27,107311,25.2,16.6,36.6,4.8,0.10%,309.0,5501,NaN

In [66]:
# household data (combine) cleaning

In [67]:
dfhh19 = pd.read_csv(household_2019)

In [68]:
dfhh19 = dfhh19.rename(columns={"B09019_022E": "irrelavant"})
dfhh19 = dfhh19.rename(columns={"B09019_024E": "B09019_022E"})

dfhh19 = dfhh19.rename(columns={"B09019_005E": "B09019_027E"})
dfhh19 = dfhh19.rename(columns={"B09019_008E": "B09019_030E"})

dfhh19 = dfhh19.rename(columns={"B09019_026E": "B09019_038E"})

In [69]:
dfhh19.to_csv("household_2019_new.csv")

In [70]:
# household: foster kids

In [71]:
def delete_ohio(x):
    if x[-4:] == 'Ohio':
        return x[:-6]
    return x

In [72]:
def extract(file):
    
    def delete_ohio(x):
        if x[-4:] == 'Ohio':
            return x[:-6]
        return x
    
    df = pd.read_csv(file)
    df['NAME'] = df['NAME'].apply(delete_ohio)
    
    
    fileter = df.NAME.apply(lambda x: x in county) #county = df2.County.unique()
    final = df.copy()[fileter]
    final = final.iloc[:, :-1]
    
    cols = ['B09019_022E']
    result = final[cols]
    result = result.reset_index(drop=True)
    
    result[cols] = result[cols].astype(int)
    
    return pd.DataFrame(result[cols])

In [73]:
extract('household_2016.csv').head()

   B09019_022E
0            4
1            0
2           29
3           13
4            8

In [74]:
hhfiles = ['household_2015.csv', 'household_2016.csv', 'household_2017.csv',
         'household_2018.csv', 'household_2019_new.csv']

In [75]:
extract('household_2019_new.csv')

    B09019_022E
0             0
1           157
2            60
3            11
4            25
5           325
6           103
7           148
8            29
9            41
10          640
11           75
12           12
13            3
14           42
15          814
16            0
17           46
18          233
19         1549
20            3
21          101
22           34
23           80
24           64
25           52
26           99
27           29
28          156
29          465
30          200
31          150
32          102
33           73
34          353
35          141
36          155
37          107
38          217
39           57
40            0
41           63
42          515
43          375
44           51
45           62
46          109
47           23
48          173
49           40

In [76]:
def combine(files, answer=None):
    is_first = True
    for f in files:
        if is_first:
            is_first = False
            answer =extract(f)
        else:
            answer = pd.concat([answer, extract(f)])
    answer = answer.reset_index(drop=True)
    return answer

In [77]:
df2 = df2.reset_index(drop=True)

In [78]:
combine(hhfiles)

     B09019_022E
0              4
1              0
2             54
3             19
4             12
..           ...
245           62
246          109
247           23
248          173
249           40

[250 rows x 1 columns]

In [79]:
df2['household: foster_kids'] = combine(hhfiles)

In [80]:
df2

,Unnamed: 0,Year,County,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error,% of Total Deaths,Divorce Count,education: less_than_high_school,household: foster_kids
0,0,2015,Adams County,13,22006,Unreliable,31.5,101.0,16.4,0.10%,119.0,4567,4
1,1,2015,Allen County,21,82914,25.3,15.7,38.7,5.5,0.10%,326.0,9260,0
2,2,2015,Ashtabula County,24,79192,30.3,19.4,45.1,6.2,0.10%,344.0,12061,54
3,3,2015,Belmont County,18,57540,Unreliable,18.5,49.4,7.4,0.10%,229.0,6322,19
4,4,2015,Brown County,26,34930,74.4,48.6,109.1,14.6,0.10%,168.0,5160,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,245,2019,Tuscarawas County,15,73440,Unreliable,11.4,33.7,5.3,0.10%,305.0,10455,62
246,246,2019,Warren County,48,185077,25.9,19.1,34.4,3.7,0.20%,681.0,12201,109
247,247,2019,Washington County,11,49557,Unreliable,11.1,39.7,6.7,0.10%,241.0,4773,23
248,248,2019,Wayne County,24,90983,26.4,16.9,39.2,5.4,0.10%,264.0,12489,173
249,249,2019,Wood County,27,107311,25.2,16.6,36.6,4.8,0.10%,309.0,5501,40

In [81]:
# household: people living alone

In [82]:
def delete_ohio(x):
    if x[-4:] == 'Ohio':
        return x[:-6]
    return x

In [83]:
def extract(file):
    
    def delete_ohio(x):
        if x[-4:] == 'Ohio':
            return x[:-6]
        return x
    
    df = pd.read_csv(file)
    df['NAME'] = df['NAME'].apply(delete_ohio)
    
    
    fileter = df.NAME.apply(lambda x: x in county) #county = df2.County.unique()
    final = df.copy()[fileter]
    final = final.iloc[:, :-1]
    
    cols = ['B09019_027E','B09019_030E']
    result = final[cols]
    result = result.reset_index(drop=True)
    
    result['B09019_027E'] = result['B09019_027E'].astype(int)
    result['B09019_030E'] = result['B09019_030E'].astype(int)

    result['sum'] = result.sum(axis=1) 
    
    return pd.DataFrame(result['sum'])

In [84]:
def combine(files, answer=None):
    is_first = True
    for f in files:
        if is_first:
            is_first = False
            answer =extract(f)
        else:
            answer = pd.concat([answer, extract(f)])
    answer = answer.reset_index(drop=True)
    return answer

In [85]:
df2 = df2.reset_index(drop=True)

In [86]:
hhfiles = ['household_2015.csv', 'household_2016.csv', 'household_2017.csv',
         'household_2018.csv', 'household_2019_new.csv']

In [87]:
combine(hhfiles)

       sum
0     2986
1    11468
2    11345
3     8644
4     3886
..     ...
245  10183
246  17158
247   7608
248  12045
249  14848

[250 rows x 1 columns]

In [88]:
df2['household: people_living_alone'] = combine(hhfiles)

In [89]:
df2

,Unnamed: 0,Year,County,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error,% of Total Deaths,Divorce Count,education: less_than_high_school,household: foster_kids,household: people_living_alone
0,0,2015,Adams County,13,22006,Unreliable,31.5,101.0,16.4,0.10%,119.0,4567,4,2986
1,1,2015,Allen County,21,82914,25.3,15.7,38.7,5.5,0.10%,326.0,9260,0,11468
2,2,2015,Ashtabula County,24,79192,30.3,19.4,45.1,6.2,0.10%,344.0,12061,54,11345
3,3,2015,Belmont County,18,57540,Unreliable,18.5,49.4,7.4,0.10%,229.0,6322,19,8644
4,4,2015,Brown County,26,34930,74.4,48.6,109.1,14.6,0.10%,168.0,5160,12,3886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,245,2019,Tuscarawas County,15,73440,Unreliable,11.4,33.7,5.3,0.10%,305.0,10455,62,10183
246,246,2019,Warren County,48,185077,25.9,19.1,34.4,3.7,0.20%,681.0,12201,109,17158
247,247,2019,Washington County,11,49557,Unreliable,11.1,39.7,6.7,0.10%,241.0,4773,23,7608
248,248,2019,Wayne County,24,90983,26.4,16.9,39.2,5.4,0.10%,264.0,12489,173,12045
249,249,2019,Wood County,27,107311,25.2,16.6,36.6,4.8,0.10%,309.0,5501,40,14848

In [90]:
# household: in group quarters

In [91]:
def delete_ohio(x):
    if x[-4:] == 'Ohio':
        return x[:-6]
    return x

In [92]:
def extract(file):
    
    def delete_ohio(x):
        if x[-4:] == 'Ohio':
            return x[:-6]
        return x
    
    df = pd.read_csv(file)
    df['NAME'] = df['NAME'].apply(delete_ohio)
    
    
    fileter = df.NAME.apply(lambda x: x in county) #county = df2.County.unique()
    final = df.copy()[fileter]
    final = final.iloc[:, :-1]
    
    cols = ['B09019_038E']
    result = final[cols]
    result = result.reset_index(drop=True)
    
    result[cols] = result[cols].astype(int)
    
    return pd.DataFrame(result[cols])

In [93]:
hhfiles = ['household_2015.csv', 'household_2016.csv', 'household_2017.csv',
         'household_2018.csv', 'household_2019_new.csv']

In [94]:
def combine(files, answer=None):
    is_first = True
    for f in files:
        if is_first:
            is_first = False
            answer =extract(f)
        else:
            answer = pd.concat([answer, extract(f)])
    answer = answer.reset_index(drop=True)
    return answer

In [95]:
df2 = df2.reset_index(drop=True)

In [96]:
combine(hhfiles)

     B09019_038E
0            382
1           3917
2           3502
3           4044
4            581
..           ...
245         1092
246         7685
247         1660
248         4101
249         6845

[250 rows x 1 columns]

In [97]:
df2['household: in_group_quarters'] = combine(hhfiles)

In [98]:
df2

,Unnamed: 0,Year,County,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error,% of Total Deaths,Divorce Count,education: less_than_high_school,household: foster_kids,household: people_living_alone,household: in_group_quarters
0,0,2015,Adams County,13,22006,Unreliable,31.5,101.0,16.4,0.10%,119.0,4567,4,2986,382
1,1,2015,Allen County,21,82914,25.3,15.7,38.7,5.5,0.10%,326.0,9260,0,11468,3917
2,2,2015,Ashtabula County,24,79192,30.3,19.4,45.1,6.2,0.10%,344.0,12061,54,11345,3502
3,3,2015,Belmont County,18,57540,Unreliable,18.5,49.4,7.4,0.10%,229.0,6322,19,8644,4044
4,4,2015,Brown County,26,34930,74.4,48.6,109.1,14.6,0.10%,168.0,5160,12,3886,581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,245,2019,Tuscarawas County,15,73440,Unreliable,11.4,33.7,5.3,0.10%,305.0,10455,62,10183,1092
246,246,2019,Warren County,48,185077,25.9,19.1,34.4,3.7,0.20%,681.0,12201,109,17158,7685
247,247,2019,Washington County,11,49557,Unreliable,11.1,39.7,6.7,0.10%,241.0,4773,23,7608,1660
248,248,2019,Wayne County,24,90983,26.4,16.9,39.2,5.4,0.10%,264.0,12489,173,12045,4101
249,249,2019,Wood County,27,107311,25.2,16.6,36.6,4.8,0.10%,309.0,5501,40,14848,6845

In [99]:
# household: nonrelatives in nonfamily households

In [100]:
def delete_ohio(x):
    if x[-4:] == 'Ohio':
        return x[:-6]
    return x

In [101]:
def extract(file):
    
    def delete_ohio(x):
        if x[-4:] == 'Ohio':
            return x[:-6]
        return x
    
    df = pd.read_csv(file)
    df['NAME'] = df['NAME'].apply(delete_ohio)
    
    
    fileter = df.NAME.apply(lambda x: x in county) #county = df2.County.unique()
    final = df.copy()[fileter]
    final = final.iloc[:, :-1]
    
    cols = ['B09019_037E','B09019_032E']
    result = final[cols]
    result = result.reset_index(drop=True)
    
    result['B09019_037E'] = result['B09019_037E'].astype(int)
    result['B09019_032E'] = result['B09019_032E'].astype(int)

    result['sum'] = result.sum(axis=1) 
    
    return pd.DataFrame(result['sum'])

In [102]:
extract('household_2015.csv')

      sum
0    1215
1    3970
2    3908
3    1932
4    1564
5   15166
6    5014
7    7325
8    1083
9    3288
10  45328
11   1020
12   3172
13   2474
14   3999
15  78702
16    681
17   2009
18   5952
19  38362
20   3057
21   2353
22   2149
23   2219
24   6991
25   1602
26   4640
27   1797
28   8609
29  20393
30   8136
31   1718
32   4417
33   3359
34  19644
35   2935
36   9894
37   1250
38   4534
39   2300
40   1998
41   4296
42  12181
43  20980
44   5312
45   2987
46   5128
47   1934
48   2264
49   8513

In [103]:
nonrelativesfiles = ['household_2015.csv', 'household_2016.csv', 'household_2017.csv',
         'household_2018.csv']

In [104]:
def combine(files, answer=None):
    is_first = True
    for f in files:
        if is_first:
            is_first = False
            answer =extract(f)
        else:
            answer = pd.concat([answer, extract(f)])
    answer = answer.reset_index(drop=True)
    return answer

In [105]:
combine(nonrelativesfiles)

      sum
0    1215
1    3970
2    3908
3    1932
4    1564
..    ...
195  3180
196  4715
197  1510
198  2425
199  8472

[200 rows x 1 columns]

In [106]:
nonrelatives15_18 = combine(nonrelativesfiles)

In [107]:
nonrelatives15_18

      sum
0    1215
1    3970
2    3908
3    1932
4    1564
..    ...
195  3180
196  4715
197  1510
198  2425
199  8472

[200 rows x 1 columns]

In [108]:
nonrelatives15_18.rename(columns={'sum':'B09019_025E'},inplace=True)

In [109]:
def extract19(file):
    
    def delete_ohio(x):
        if x[-4:] == 'Ohio':
            return x[:-6]
        return x
    
    df = pd.read_csv(file)
    df['NAME'] = df['NAME'].apply(delete_ohio)
    
    
    fileter = df.NAME.apply(lambda x: x in county) #county = df2.County.unique()
    final = df.copy()[fileter]
    final = final.iloc[:, :-1]
    
    cols = ['B09019_025E']
    result = final[cols]
    result = result.reset_index(drop=True)
    
    result[cols] = result[cols].astype(int)
    
    return pd.DataFrame(result[cols])

In [110]:
extract19('household_2019.csv')

    B09019_025E
0           872
1          2445
2          2412
3          1703
4           980
5         12635
6          3736
7          4446
8           801
9          2102
10        32062
11          701
12         3396
13         1898
14         3813
15        62723
16          688
17         1428
18         4947
19        28709
20         2090
21         1287
22         1899
23         1488
24         5489
25         1611
26         4625
27          719
28         7792
29        13458
30         4532
31         1521
32         2685
33         2913
34        13757
35         2563
36         6650
37          951
38         2856
39         1585
40         1469
41         2106
42         8676
43        14861
44         3225
45         1991
46         3094
47         1037
48         1975
49         6824

In [111]:
nonrelatives19 = extract19('household_2019.csv')

In [112]:
nonrelatives19

    B09019_025E
0           872
1          2445
2          2412
3          1703
4           980
5         12635
6          3736
7          4446
8           801
9          2102
10        32062
11          701
12         3396
13         1898
14         3813
15        62723
16          688
17         1428
18         4947
19        28709
20         2090
21         1287
22         1899
23         1488
24         5489
25         1611
26         4625
27          719
28         7792
29        13458
30         4532
31         1521
32         2685
33         2913
34        13757
35         2563
36         6650
37          951
38         2856
39         1585
40         1469
41         2106
42         8676
43        14861
44         3225
45         1991
46         3094
47         1037
48         1975
49         6824

In [113]:
concatenated = pd.concat([nonrelatives15_18, nonrelatives19])
concatenated = concatenated.reset_index(drop=True)
concatenated

     B09019_025E
0           1215
1           3970
2           3908
3           1932
4           1564
..           ...
245         1991
246         3094
247         1037
248         1975
249         6824

[250 rows x 1 columns]

In [114]:
df2['household: nonrelatives_in_nonfamily_households'] = concatenated

In [115]:
df2

,Unnamed: 0,Year,County,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error,% of Total Deaths,Divorce Count,education: less_than_high_school,household: foster_kids,household: people_living_alone,household: in_group_quarters,household: nonrelatives_in_nonfamily_households
0,0,2015,Adams County,13,22006,Unreliable,31.5,101.0,16.4,0.10%,119.0,4567,4,2986,382,1215
1,1,2015,Allen County,21,82914,25.3,15.7,38.7,5.5,0.10%,326.0,9260,0,11468,3917,3970
2,2,2015,Ashtabula County,24,79192,30.3,19.4,45.1,6.2,0.10%,344.0,12061,54,11345,3502,3908
3,3,2015,Belmont County,18,57540,Unreliable,18.5,49.4,7.4,0.10%,229.0,6322,19,8644,4044,1932
4,4,2015,Brown County,26,34930,74.4,48.6,109.1,14.6,0.10%,168.0,5160,12,3886,581,1564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,245,2019,Tuscarawas County,15,73440,Unreliable,11.4,33.7,5.3,0.10%,305.0,10455,62,10183,1092,1991
246,246,2019,Warren County,48,185077,25.9,19.1,34.4,3.7,0.20%,681.0,12201,109,17158,7685,3094
247,247,2019,Washington County,11,49557,Unreliable,11.1,39.7,6.7,0.10%,241.0,4773,23,7608,1660,1037
248,248,2019,Wayne County,24,90983,26.4,16.9,39.2,5.4,0.10%,264.0,12489,173,12045,4101,1975
249,249,2019,Wood County,27,107311,25.2,16.6,36.6,4.8,0.10%,309.0,5501,40,14848,6845,6824

In [116]:
df2.to_csv("combined_data.csv")